.Title {
   width: 960px;
    margin: 0 auto;
}

header {
    width: 960px;
    text-align: center;
    background: #4aaaa5;
    color: #fdfdfd;
    border-color: #ffffff
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.About-Me {
    float: left;
    padding: 10px 0;
    margin-left: 30px;
}

nav {
    float: right;
    color: #ececee;
    margin-right: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;
}

nav a {
    color: #cccccc;
    text-decoration: none;
    font-size: 14px
}

nav a:hover {
    color: #000000
}

body {
    width: 960px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    width: 960px;
    margin: 0;
}

.main-bio {
width: 960px;
line-height: 150%;
}

.contact-form {
    text-align: center;
    background-image: -moz-element()
}