p,header,h2,il {
    font-family: 'Anton', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.blurb-one {
    font-weight: 500;
}

.blurb-two {
    font-size: 20px;
}

blurb-three {
    line-height: 45px;
    letter-spacing: 10px;
}